@import "../variables.scss";

$resultsListingCollapseWidth: 550px;
$resultsListingTwoCol: 720px;

.resultsListCtnr{
  padding:0 10px;

  @media (min-width: $resultsListingCollapseWidth){ 
    display: flex;
    flex-wrap: wrap;
  }
}

.listingResult{
  position: relative;
  padding:0.5em;
  border-bottom:1px solid $lightSeparator;
  cursor: pointer;

  &:last-child{
    border-bottom: none;
  }

  >h2{
    margin: 0 0 0.25em 0;
  }

  >h3{
    margin: 0.25em 0;
    color: #666;
    font-weight: normal;
  }

  >.dist{
    position: absolute;
    top:0.5em;
    right:0;
  }

  @media (min-width: $resultsListingCollapseWidth){ 
    @include border-box;

    display:inline-block;
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    min-width: 14em;
    flex: 1;
    margin: 5px;
    border: 1px solid $lightSeparator;

    &:last-child{
      border-bottom: 1px solid $lightSeparator;
    }

    >.dist{
      position: initial;
      text-align:right;
      display: inline-block;
    }
  }
  @media (min-width: $resultsListingTwoCol){
    width: calc(33% - 10px);
    max-width: calc(33% - 10px);
  } 
    
}