@import "../variables.scss";

$searchBoxHeight: 1.5rem;

.react-autosuggest__container{
  position: relative;
  width: 100%;
}
.react-autosuggest__input{
  width: 100%;
  height: $searchBoxHeight;
}

.react-autosuggest__suggestions-container--open {
  /* structural */
  position: absolute;
  z-index: 10;
  left: 0;
  top: $searchBoxHeight;
  
  width: 50%;
  min-width:310px;
  max-width: 400px;

  /* presentational */
  text-align:left;
  border: 1px solid #666;
  background-color: white;
}

  .react-autosuggest__suggestions-list{
    margin: 0;
    padding: 0;
  }

  .react-autosuggest__suggestion{
    padding: 0.6rem;
    display: block;
  }

  .react-autosuggest__suggestion--highlighted{
      color: $overHighlightFg;
      background-color: $overHighlightBg;
  }