@import "../variables.scss";

$searchBoxHeight: 1.5rem;

.searchBox{
  position: relative;
  & > input{
    height: $searchBoxHeight;
  }
}

.searchAutoComplete {
  /* structural */
  position: absolute;
  z-index: 10;
  left: 0;
  top: $searchBoxHeight;
  
  width: 50%;
  min-width:310px;
  max-width: 400px;

  /* presentational */
  text-align:left;
  border: 1px solid #666;
  background-color: white;

  & > .searchAutoComplete-item{
    padding: 0.6rem 0;
    display: block;

    &:hover{
      color: $overHighlightFg;
      background-color: $overHighlightBg;
    }
  }
}